<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/dist/output.css' %}">
    <title></title>
</head>
<body class="bg-violet-700">
    {% block content %}
    {% endblock %}
    <section class="flex justify-between mx-3 h-[50px] rounded-bl-xl rounded-br-xl shadow bg-gray-400 p-2">
        <a href="{% url 'home' %}" class="flex flex-col items-center justify-center bg-green-300 p-4 rounded-xl ">
            <img src="#" class="h-[12px] w-[12px]">
            <h3 class="text-[12px]">Home</h3>
        </a>
        <a href="{% url 'rank' %}" class="flex flex-col items-center justify-center bg-green-300 p-4 rounded-xl ">
            <img src="#" class="h-[12px] w-[12px]">
            <h3 class="text-[12px]">Leaders</h3>
        </a>
        <a href="{% url 'profile' %}" class="flex flex-col items-center justify-center bg-green-300 p-4 rounded-xl ">
            <img src="#" class="h-[12px] w-[12px]">
            <h3 class="text-[12px]">Profile</h3>
        </a>
    </section>
</body>
</html>