<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/dist/output.css' %}">
    <title></title>
</head>
<body class="bg-violet-700">
    {% block content %}
    {% endblock %}
    <section class="flex justify-between mx-3 h-[50px] rounded-bl-xl rounded-br-xl shadow bg-gray-400 p-2">
        <div class="flex flex-col items-center justify-center bg-green-300 p-4 rounded-xl ">
            <a href="{% url 'home' %}"><img src="#" class="h-[12px] w-[12px]"></a>
            <h3 class="text-[12px]"><a href="{% url 'home' %}">Home</a></h3>
        </div>
        <div class="flex flex-col items-center justify-center bg-green-300 p-4 rounded-xl ">
            <a href="{% url 'rank' %}"><img src="#" class="h-[12px] w-[12px]"></a>
            <h3 class="text-[12px]"><a href="{% url 'rank' %}">Leaders</a></h3>
        </div>
        <div class="flex flex-col items-center justify-center bg-green-300 p-4 rounded-xl ">
            <a href="{% url 'profile' %}"><img src="#" class="h-[12px] w-[12px]"></a>
            <h3 class="text-[12px]"><a href="{% url 'profile' %}">Profile</a></h3>
        </div>
    </section>
</body>
</html>