{% extends "base/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/dist/output.css' %}">
    <title>Triva</title>
</head>
<body>
    {% block content %}
    <!-- Main container -->
    <div class="flex flex-col h-[calc(100vh-50px)] bg-white m-3 mb-0 p-4 overflow-auto">
        <!-- Top bar -->
        <section class="flex justify-between w-full h-[50px] items-center gap-5 px-2">
            <div class="flex">
                <div class="mr-4"><img src="{% static '../static/images/image.png' %}" class="h-10 w-10 rounded-full"></div>
                <div class="flex flex-col justify-start">
                    <div class="text-[16px] capitalize">{{ request.user.username }}</div>
                    <div class="text-[14px] text-gray-400 font-bold">ID-1235</div>
                </div>
            </div>
            <div class="rounded-lg shadow h-2/3 w-[90px] px-2 py-1 bg-green-400">
                <h2>{{ request.user.balance }} ETB</h2>
            </div>
        </section>

        <!-- Intro text -->
        <section class="bg-gradient-to-l from-orange-500 to-blue-600 rounded p-3 w-full my-2 h-[150px] text-left">
            <p class="font-bold text-[18px]">Test your Knowleddge and get rewarded</p>
            <div class="text-[14px text-white"><p>practice questions carefully prepared based on EUEE standards</p></div>
        </section>

        <!-- categories -->
        <section class="flex flex-col h-[100px] gap-2">
            <h3 class="text-[14px] font-extrabold uppercase">Categories </h3>
            <div class="flex gap-[10%] h-[50px]">
                <form method="get" name="natural" class="flex gap-[10%] shadow shadow-green-600 rounded bg-green-300 w-1/2">
                    <div><img src="{% static '../static/images/natural.png' %}" class="h-10 w-10 m-1 rounded justify-center items-center"></div>
                    <div class="m-2 text-lg font-bold">Natural</div>
                </form>
                <form method="get" name="social" class="flex gap-[10%] rounded shadow bg-blue-300 shadow-blue-600 w-1/2">
                    <div><img src="{% static '../static/images/social.png' %}" class="h-10 w-10 m-1 rounded justify-center items-center"></div>
                    <div class="m-2 text-lg font-bold">Social</div>
                </form>
            </div>
        </section>

        <!-- Subjects List -->
        <section class="flex flex-col gap-3 h-2/5">
            <!-- subject 1 -->
            {% for quiz in quizList %}

            <span class="h-[60px] rounded-xl shadow shadow-purple-600">
                <div class="flex justify-between">
                    <div class="flex justify-center items-center gap-2 m-2 font-bold">
                        <img src="{% static '../static/images/book.png' %}" class="h-8 w-8 rounded">
                        <div class="flex flex-col">
                            <h3>{{ quiz.category }}</h3>
                            <h4 class="text-gray-400 text-[12px]">{{ quiz.questionSize }} Questions</h4>
                        </div>
                    </div>
                    <div class="flex gap-5 m-1 text-[12px]">
                        <span class="flex mt-2 gap-1 items-center rounded px-2 bg-blue-300">
                            <div>Pay</div>
                            <div>5ETB</div>
                        </span>
                        <span class="flex items-center font-bold mt-3 h-1/2 rounded px-2 bg-gray-300"><h4>00:00:20</h4></span>
                    </div>
                </div>
            </span>

            {% endfor %}

        </section>
    </div>
    {% endblock %}
</body>
</html>