<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/dist/output.css' %}">
    <title>Profile</title>
</head>
<body>
    <!-- main container -->
    <div class="flex flex-col gap-5 h-screen mt-4">
        <!-- profile image and name -->
        <section class="flex flex-col items-center">
            <img src="#" class="h-[80px] w-[80px] rounded-full">
            <div class="font-extrabold text-xl">Karen Denise</div>
        </section>
        <!-- Detailed Info -->
        <section class="flex mx-10 h-[100px] rounded-lg gap-5 items-center justify-center bg-red-500">
            <div class="flex flex-col">
                <div>ICON</div>
                <div>Balance</div>
            </div>
            <div class="flex flex-col">
                <div>ICON</div>
                <div>Weekly</div>
            </div>
            <div class="flex flex-col">
                <div>ICON</div>
                <div>Monthly</div>
            </div>
        </section>
        
        <div class="m-[7px] mb-1 p-4"><h2>History:</h2></div>

        <!-- History card -->
        <section class="flex flex-col gap-3 h-2/5 m-[7px] mt-1 p-4">
            <!-- subject 1 -->
            <span class="h-[60px] rounded shadow-lg bg-gray-200">
                <div class="flex justify-between">
                    <div class="flex gap-1 m-1 justify-center items-center">
                        <img src="#" class="h-8 w-8 rounded">
                        <h3>English(Natural)</h3>
                    </div>
                    <div class="flex gap-5 m-1">
                        <span class="flex flex-col rounded px-2 bg-blue-300">
                            <div>Pay</div>
                            <div>5ETB</div>
                        </span>
                        <span class="flex items-center rounded px-2 bg-gray-300"><h4>00:00:20</h4></span>
                    </div>
                </div>
            </span>
            <!-- subject 2 -->
            <span class="h-[60px] rounded shadow-lg bg-gray-200">
                <div class="flex justify-between">
                    <div class="flex gap-1 m-1 justify-center items-center">
                        <img src="#" class="h-8 w-8 rounded">
                        <h3>English(Natural)</h3>
                    </div>
                    <div class="flex gap-5 m-1">
                        <span class="flex flex-col rounded px-2 my-[6px] w-[50px] bg-blue-300">
                            <div>Pay</div>
                            <div>5ETB</div>
                        </span>
                        <span class="flex items-center rounded px-2 bg-gray-300"><h4>00:08:05</h4></span>
                    </div>
                </div>
            </span>

        </section>
         
    </div>
</body>
</html>