<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/dist/output.css' %}">
    <title>Profile</title>
</head>
<body>
    <!-- main container -->
    <div class="h-screen bg-violet-700 p-3">
        <div class="flex flex-col gap-4 mt-4 rounded-xl bg-white h-screen">
            <!-- profile image and name -->
            <section class="flex flex-col items-center pt-4">
                <img src="#" class="h-[80px] w-[80px] rounded-full">
                <div class="font-extrabold text-xl">Karen Denise</div>
            </section>
            <!-- Detailed Info -->
            <section class="flex mx-10 h-[80px] rounded-lg gap-10 items-center justify-center bg-purple-700">
                <div class="flex flex-col">
                    <div class="flex flex-col h-12-w-12">
                        <img src="#" class="h-8 w-8">
                        <h3 class="text-[13px] text-gray-400">BALANCE</h3>
                    </div>
                    <div class="text-white text-[16px] font-bold">#1256</div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-col h-12-w-12">
                        <img src="#" class="h-8 w-8">
                        <h3 class="text-[13px] text-gray-400">Weekly</h3>
                    </div>
                    <div class="text-white text-[16px] font-bold">#1256</div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-col h-12-w-12">
                        <img src="#" class="h-8 w-8">
                        <h3 class="text-[13px] text-gray-400">Monthly</h3>
                    </div>
                    <div class="text-white text-[16px] font-bold">#1256</div>
                </div>
            </section>
            
            <div class="ml-6 font-bold"><h2>History:</h2></div>
    
            <!-- History card -->
            <section class="flex flex-col gap-3 h-2/5 m-[7px] mt-0 p-4">
                <!-- subject 1 -->
                <span class="h-[60px] rounded-xl shadow shadow-purple-600 bg-gray-100">
                    <div class="flex justify-between items-center">
                        <div class="flex gap-1 font-bold m-1 justify-center items-center">
                            <img src="#" class="h-8 w-8 rounded">
                            <h3>English</h3>
                        </div>
                        <div class="flex justify-center items-center gap-5 m-1">
                          <span class="rounded-full bg-green-300 p-2 m-1">28/30</span>
                        </div>
                    </div>
                </span>
                <!-- subject 2 -->
                <span class="h-[60px] rounded-xl shadow shadow-purple-600 bg-gray-100">
                    <div class="flex justify-between items-center">
                        <div class="flex gap-1 font-bold m-1 justify-center items-center">
                            <img src="#" class="h-8 w-8 rounded">
                            <h3>Physics</h3>
                        </div>
                        <div class="flex justify-center items-center gap-5 m-1">
                          <span class="rounded-full bg-red-300 p-2 m-1">15/30</span>
                        </div>
                    </div>
                </span>    
                
            </section>            
        </div>
    </div>
</body>
</html>