<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% for question in questionList %}
        <div class="p-4 border-b">
            <p class="font-bold">{{ question.question }}</p>
            <ul>
                {% for choice in question.choices.all %}
                    <li class="ml-4">{{ choice.choice }}</li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <p>No questions available.</p>
    {% endfor %}
</body>
</html>