{% extends "base/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/dist/output.css' %}">
    <title>Leadbord</title>
</head>
<body>
    {% block content %}
    <!-- Main container -->
    <div class="flex flex-col bg-violet-700 gap-4 h-[calc(100vh-50px)] p-2 pb-0 overflow-auto">
        <section class="flex justify-center items-center text-white font-bold text-xl">Leadboard</section>

        <section class="flex justify-center items-center text-center gap-[20%]">
            <div class="rounded-lg p-[7px] w-[100px] bg-gray-200">Weekly</div>
            <div class="rounded-lg p-[7px] w-[100px] bg-gray-200">Monthly</div>
        </section>
        
        <section class="p-2 m-1 mb-0 gap-4 flex flex-col rounded-xl rounded-bl-none rounded-br-none bg-gray-200 h-screen">
            <div class="flex justify-between p-2 shadow shadow-purple-600 rounded-xl bg-white">
                <div> 1. </div>
                {% if request.user.is_authenticated %}
                <div><img src="{{ request.user.profile.url }}" class="h-10 w-10 rounded-full"></div>
                {% else %}
                <div><img src="{% static '../static/images/image.png' %}" class="h-10 w-10 rounded-full"></div>
                {% endif %}
                <div class="flex flex-col gap-2">
                    <div class="font-bold">{{ request.user.username }}</div>
                    <div class="text-md text-gray-400">{{ request.user.total_point }} points</div>
                </div>
                <!-- Medal (for the top 3 only) -->
                <div><img src="#" class="h-10 w-10 rounded"></div>
            </div>
        </section>
    </div>
    {% endblock %}
</body>
</html>