{% extends "base/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/dist/output.css' %}">
    <title>Leadbord</title>
</head>
<body>
    {% block content %}
    <!-- Main container -->
    <div class="flex flex-col bg-violet-700 gap-4 h-[calc(100vh-50px)] p-2 pb-0 overflow-auto">
        <section class="flex justify-center items-center text-white font-extrabold text-xl">Leadboard</section>

        <section class="flex justify-center items-center text-center gap-[20%]">
            <div class="rounded-lg p-[7px] w-[100px] bg-gray-200">Weekly</div>
            <!-- <div class="rounded-lg p-[7px] w-[100px] bg-gray-200">Monthly</div> -->
        </section>
        
        <section class="p-2 m-1 mb-0 gap-4 flex flex-col rounded-xl rounded-bl-none rounded-br-none bg-gray-200 h-screen">
            {% for player in top_players %}
            <div class="flex justify-between p-2 shadow shadow-purple-600 rounded-xl bg-white">
                <div class="flex gap-4">
                    <div>{{ forloop.counter }}.</div>
                    <div><img src="{{ player.profile.url }}" class="h-10 w-10 rounded-full"></div>
                    <div class="font-bold">{{ player.username }}</div>
                </div>
                <div class="text-md text-gray-400">{{ player.total_point }} points</div>
                <!-- Medal (for the top 3 only) -->
                <!-- <div><img src="#" class="h-10 w-10 rounded"></div> -->
            </div>
            {% endfor %}
        </section>
    </div>
    {% endblock %}
</body>
</html>